<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invisible-queue</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div style="background-color: black; color: white; text-align: center; height: max-content;">
        <h1>ADYPG MULTISPECIALITY HOSPITAL</h1>
    </div>
    <div class="form">
        <input type="text" placeholder="patient name" id="name">

        <input type="number" placeholder="patient age" id="age">

        <input type="text" placeholder="symptom" id="symptom">

        <input type="text" placeholder="Condition" id="severity">

        <input type="text" placeholder="Duration" id="Duration">
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>
</body>
</html>